@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Resetting and Adding other setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    overflow-x: hidden;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    background: #000000;
}

.logo{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.crimson{
    color: crimson;
}

nav ul li{
    margin: 10px;
    float: left;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover{
    color: #ccc;
    font-weight: 700;
}

.active{
    color: crimson;
    font-weight: 700;
}

/* Typing-Effect Header */
header{
    display: flex;
    color: #ccc;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.effect{
    background-image: url('./images/header.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    filter: alpha( opacity = 20 );
    position: absolute;
    height: 70vh;
    width: 100%;
}

header figure p{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    padding: 0.5rem;
}

header figure figcaption{
    text-align: center;
}

.cursor{
    display: inline-block;
    width: 3px;
    background-color: #cccccc;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing{
    animation: none;
}

@keyframes blink {
    0% {background-color: #ccc;}
    49% {background-color: #ccc;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #ccc;}
}

/* Portfolio Part */
.work1{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    color: #ccc;
    align-items: center;
    padding: 10px 20px;
}

.work1 .img img{
    height: 20rem;
    border-radius: 20px;
}

.work1 .des figure{
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

.work1 .des{
    padding: 10px 50px;
}

.work1 .des figure p{
    font-size: 1.5rem;
    font-weight: 700;
}

.work1 .des figure figcaption{
    
}

/* Media Queries */
@media only screen and (max-width: 425px) {
    
}

@media only screen and (max-width: 768px) {
    
}